#!/usr/bin/python3

# This will be called before the install function. You should check the system
# for necessary tools and return the names of the tools you need but didn't find
# in the system.
def check_requirements():
	return ['package1', 'package2']

# Install any tools you need for monitoring in this function. Return if it was
# successfull or not.
def install():
	return True

# The get_hdr function is called to get the specifier for the results. It will
# be the first line in every monitoring file.
def get_hdr():
	return ['random_number']

# This is called about one second before the first get() call.
def pre():
	return

# post() is called a unknown time after the last get() call to clean up
def post():
	return

# get() should return a list of floats or integers. No inner lists or strings
# are allowed. The function is called once every second if the system is stable,
# and all monitors don't need much time to calculate their results.

# NOTICE: Keep in mind that one thread is managing all monitors, so don't use
# sleeps, or time consuming calculations.
def get():
	return [23]
