#!/usr/bin/python3

# This will be called before the install function. You should check the system
# for necessary tools and return the names of the tools you need but didn't find
# in the system.
def check_requirements():
	return ['package1', 'package2']

# Install any tools you need for monitoring in this function. Return if it was
# successfull or not.
def install():
	return True

# Return some meta information about the monitor or something run independent.
# Whatever you like to have in the resulting json files.
# You can also return any string,float,int,dict,list, also empty ones
def to_dict():
	return {'description': 'something intelligent here', 'monitor_version': '0.0.0'}

# This is called about one second before the first get() call.
def pre():
	return 0

# post() is called a unknown time after the last get() call to clean up
def post():
	return 0

# get() can return every recursively structured type of dict, list, string,
# float, int

# NOTICE: Keep in mind that one thread is managing all monitors, so don't use
# sleeps, or time consuming calculations.
def get():
	return {'var1': 324, 'blub':[43,532]}
